PHASE 0/Scientometric Analisis tool PHASE 0.json
{
  "name": "Scientometric Analisis tool PHASE 0",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1792,
        1120
      ],
      "id": "58ee3205-3314-4624-9819-2a1b8636226c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a08feae2-5577-479d-b2fa-cc5888a10b47",
              "leftValue": "={{ $json[\"search-results\"] && $json[\"search-results\"][\"entry\"] ? $json[\"search-results\"][\"entry\"].length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        1120
      ],
      "id": "b820d01d-9906-47d6-ae6c-e4c91840acfc",
      "name": "If Scopus Results"
    },
    {
      "parameters": {
        "url": "https://api.elsevier.com/content/search/scopus",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $node[\"Loop Over Items\"].json[\"BOOLEAN SEARCHING STRING\"] }}"
            },
            {
              "name": "count",
              "value": "={{ $node[\"Loop Over Items\"].json[\"BATCH SIZE\"] }}"
            },
            {
              "name": "start",
              "value": "={{ $json.start_index }}"
            },
            {
              "name": "date",
              "value": "={{ $node[\"Loop Over Items\"].json[\"YEAR RANGE\"] }}"
            },
            {
              "name": "view",
              "value": "COMPLETE"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ELS-APIKey",
              "value": "={{ $node[\"Loop Over Items\"].json[\"API KEY\"].toString().trim() }}"
            },
            {
              "name": "Accept",
              "value": "=application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -16,
        1120
      ],
      "id": "372f5a5b-a950-4b3a-85bf-64751bf0563a",
      "name": "Scopus API1"
    },
    {
      "parameters": {
        "name": "=Page_{{ $('Norm: Scopus').first().json.page_num }}_from_Scopus_({{ $('Init Scopus').first().json.Keywords }}).csv",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1hq0_8M-OXnSUh53p_truMehoTWk5s-W3",
          "mode": "list",
          "cachedResultName": "SCOPUS",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1hq0_8M-OXnSUh53p_truMehoTWk5s-W3"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1088,
        928
      ],
      "id": "4064bfc9-41b4-4763-88ff-244e9bd7ddc2",
      "name": "Save Scopus1",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tp4opvcxFnolbSb3",
          "name": "Google Drive account 6"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "start_index",
              "value": "={{ $('Norm: Scopus').first().json.current_start_index + $('Init Scopus').first().json.batch_size }}",
              "type": "number",
              "id": "cebb1f1c-a4dc-45d0-b4ad-e4f7a0e12ec1"
            },
            {
              "name": "page_counter",
              "value": "={{ $('Norm: Scopus').first().json.page_num + 1 }}",
              "type": "number",
              "id": "818106b2-5d2d-469b-9a31-90cc1ef08a42"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        928
      ],
      "id": "f27b203d-7dab-4f1f-942a-69ad0bf4a62d",
      "name": "Loop++ Scopus1"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2240,
        160
      ],
      "id": "37c83254-e7b1-418b-96d1-3aa4390e228d",
      "name": "Wait PM1",
      "webhookId": "8f3001f4-cbc1-4df6-90b3-7a9bc1fcbfc0"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1712,
        912
      ],
      "id": "ae2c0c8d-b2e4-4a7f-be90-6e3cbdbf3f61",
      "name": "Wait SC1",
      "webhookId": "96de85a9-6209-4bc9-be14-629ca3a5287b"
    },
    {
      "parameters": {
        "amount": 6
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1952,
        -816
      ],
      "id": "42534976-14a1-441e-b452-e5d6bd11e58e",
      "name": "Wait2",
      "webhookId": "85712f9e-969e-4e90-8ce0-08310bbb6467"
    },
    {
      "parameters": {
        "name": "=Page {{ $('Code in JavaScript').first().json.page }} from OpenAlex ({{ $('Code in JavaScript').first().json.Keywords }}).csv",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1xNJUEcSw7EmTXuswIzq4qVSV5fkwD7Gb",
          "mode": "list",
          "cachedResultName": "Open_Alex",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xNJUEcSw7EmTXuswIzq4qVSV5fkwD7Gb"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1296,
        -800
      ],
      "id": "94b84178-f0e5-4376-960c-983a5dabfb20",
      "name": "Upload file1",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tp4opvcxFnolbSb3",
          "name": "Google Drive account 6"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1sfbP13-jabRXxvLwlFrocve7GCx1bDgTPTMQYWDQZN0",
          "mode": "list",
          "cachedResultName": "DeepSearch",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sfbP13-jabRXxvLwlFrocve7GCx1bDgTPTMQYWDQZN0/edit?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1568,
        1120
      ],
      "id": "348ff395-54b6-4e32-ad25-f0182b5dfa59",
      "name": "Download Queries",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tp4opvcxFnolbSb3",
          "name": "Google Drive account 6"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sfbP13-jabRXxvLwlFrocve7GCx1bDgTPTMQYWDQZN0",
          "mode": "list",
          "cachedResultName": "DeepSearch",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sfbP13-jabRXxvLwlFrocve7GCx1bDgTPTMQYWDQZN0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Queries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sfbP13-jabRXxvLwlFrocve7GCx1bDgTPTMQYWDQZN0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1344,
        1120
      ],
      "id": "db743092-169b-4c7e-a176-70e4568b299a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LteTlPtBO5SZHJXH",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.SOURCE }}",
                    "rightValue": "OPEN ALEX",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "74688f8d-e178-482d-bb68-a660b1e6562b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "40603135-6e19-4400-93e1-2860784eacde",
                    "leftValue": "={{ $json.SOURCE }}",
                    "rightValue": "PubMed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4dd7f3ca-ae1c-40b8-a285-d23279eae715",
                    "leftValue": "={{ $json.SOURCE }}",
                    "rightValue": "SCOPUS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f94d0d48-dc5c-4c8f-b0ae-779ed2bf489e",
                    "leftValue": "={{ $json.SOURCE }}",
                    "rightValue": "Semantic_Scholar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ee0f6318-3f8a-4441-9e71-181483d58364",
                    "leftValue": "={{ $json.SOURCE }}",
                    "rightValue": "Google_Schoolar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -848,
        1088
      ],
      "id": "5a8aea57-1698-40ee-8992-671f4ca62099",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1056,
        1120
      ],
      "id": "666f4c14-6b04-4988-aad9-1571bd9d3d6b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "845438eb-1e02-443f-8c44-4da0af82a4a4",
              "name": "Keywords",
              "value": "={{ $('Loop Over Items').first().json['BOOLEAN SEARCHING STRING'] }}",
              "type": "string"
            },
            {
              "id": "a4582bc6-6237-4fbf-99b5-51bc32a4fd48",
              "name": "page",
              "value": 1,
              "type": "number"
            },
            {
              "id": "e5a7baa8-beea-40a7-b219-66fc2aef20f1",
              "name": "Year",
              "value": "={{ $node[\"Loop Over Items\"].json[\"YEAR RANGE\"] }}",
              "type": "string"
            },
            {
              "id": "ddbc7468-68a4-46c3-accb-c9f107155c6d",
              "name": "batch_size",
              "value": "={{ parseInt($node[\"Loop Over Items\"].json[\"BATCH SIZE\"]) }}",
              "type": "number"
            },
            {
              "id": "af7726c9-71f9-4f67-818f-e61bd9285841",
              "name": "API Key",
              "value": "={{ $node[\"Loop Over Items\"].json[\"API KEY\"] }}",
              "type": "string"
            },
            {
              "id": "2aea4f9b-6d2e-43ca-81c1-f8edc469048e",
              "name": "total_batches",
              "value": "={{ parseInt($node[\"Loop Over Items\"].json[\"TOTAL BATCHES\"]) }}",
              "type": "number"
            },
            {
              "id": "f976e4d2-88e7-4a67-91d2-5b90aedd8d86",
              "name": "PERSONAL_MAIL",
              "value": "={{ $node[\"Loop Over Items\"].json[\"PERSONAL_MAIL\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        -608
      ],
      "id": "61ec812f-3681-4827-873d-eca45a8dbb07",
      "name": "Init Open Alex"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1728,
        1664
      ],
      "id": "5401a9b8-9b34-4649-9613-578b45ad2b52",
      "name": "Wait",
      "webhookId": "85712f9e-969e-4e90-8ce0-08310bbb6467"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        832,
        1680
      ],
      "id": "79426ab0-c414-4425-a9c3-324e4db8fb75",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80298353-7b13-4583-86cf-84d51c4c2ed5",
              "name": "offset",
              "value": 0,
              "type": "number"
            },
            {
              "id": "d293f16d-d28c-4ea2-832f-6d609a28dc43",
              "name": "page_counter",
              "value": 1,
              "type": "number"
            },
            {
              "id": "b4626a10-0200-4ba6-8729-67b4439b2897",
              "name": "Keywords",
              "value": "={{ $node[\"Loop Over Items\"].json[\"BOOLEAN SEARCHING STRING\"] }}",
              "type": "string"
            },
            {
              "id": "6c38965e-f970-46cd-bf7b-35a1f7a771e1",
              "name": "batch_size",
              "value": "={{ parseInt($node[\"Loop Over Items\"].json[\"BATCH SIZE\"]) }}",
              "type": "string"
            },
            {
              "id": "ddeb5439-3a8b-40da-953d-f9d8fb9b133e",
              "name": "Year",
              "value": "={{ $node[\"Loop Over Items\"].json[\"YEAR RANGE\"] }}",
              "type": "string"
            },
            {
              "id": "13e30a37-6adc-430b-b936-c9a06c278294",
              "name": "API",
              "value": "={{ $node[\"Loop Over Items\"].json[\"API KEY\"].toString().trim() }}",
              "type": "string"
            },
            {
              "id": "a5e6cdb3-e49e-445a-a373-f2e1e4434638",
              "name": "total_batches",
              "value": "={{ $node[\"Loop Over Items\"].json[\"TOTAL BATCHES\"] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        1888
      ],
      "id": "180f9140-5aae-487d-86e9-def34947e526",
      "name": "Init Semantic"
    },
    {
      "parameters": {
        "url": "https://api.semanticscholar.org/graph/v1/paper/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.Keywords }}"
            },
            {
              "name": "fields",
              "value": "paperId,title,abstract,year,venue,externalIds,citationCount,authors"
            },
            {
              "name": "limit",
              "value": "={{ $node[\"Init Semantic\"].json.batch_size }}"
            },
            {
              "name": "offset",
              "value": "={{ $json.offset }}"
            },
            {
              "name": "year",
              "value": "={{ $json.Year }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $json.API }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -48,
        1888
      ],
      "id": "88ad4a29-6268-417c-b28b-7e005b5e4374",
      "name": "Semantic API",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f4246260-c738-4fa3-bbec-96d7a155a64e",
              "leftValue": "={{ $json.data ? $json.data.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        1888
      ],
      "id": "4e74c054-e448-4aad-ae27-648d59ce859f",
      "name": "Check Semantic Results"
    },
    {
      "parameters": {
        "jsCode": "let page = 1;\nlet keywords = \"\";\nlet batchSize = 100;\nlet offset = 0;\n\ntry {\n    const prev = $('Wait Semantic').first().json;\n    page = prev.page_counter;\n    keywords = prev.Keywords; \n    batchSize = prev.batch_size;\n    offset = prev.offset;\n} catch(e) {\n    try {\n        const init = $('Init Semantic').first().json;\n        page = init.page_counter;\n        keywords = init.Keywords;\n        batchSize = init.batch_size;\n        offset = init.offset;\n    } catch(e2){}\n}\n\nconst results = items[0].json.data || [];\nconst explodedAuthors = [];\n\nresults.forEach(r => {\n    const doi = r.externalIds && r.externalIds.DOI ? r.externalIds.DOI : \"No DOI\";\n    const title = r.title || \"No Title\";\n    const year = r.year || \"n/d\";\n    const authors = r.authors || [];\n\n    if (authors.length === 0) {\n        explodedAuthors.push({\n            json: {\n                PAPER_TITLE: title, DOI: doi, YEAR: year,\n                AUTHOR_NAME: \"Unknown\", AUTHOR_POSITION: \"Unknown\", AUTHOR_ID: \"NO_ID\",\n                AFFILIATION_PAPER: \"No data\", GEOLOCATION_COUNTRY_RAW: \"UNKNOWN\", \n                SOURCE_DB: \"SemanticScholar\",\n                page_num: page, search_term: keywords, start_index: offset\n            }\n        });\n    } else {\n        // TÉCNICA LUKAS: Extraer todos los autores\n        authors.forEach((auth, index) => {\n            let position = \"middle\";\n            if (index === 0) position = \"first\";\n            else if (index === authors.length - 1) position = \"last\";\n\n            let affiliation = \"No affiliation\";\n            if (auth.affiliations && Array.isArray(auth.affiliations) && auth.affiliations.length > 0) {\n                affiliation = auth.affiliations.map(a => typeof a === 'object' ? a.name || a.affiliation || JSON.stringify(a) : a).join(\" | \");\n            }\n\n            explodedAuthors.push({\n                json: {\n                    PAPER_TITLE: title, DOI: doi, YEAR: year,\n                    AUTHOR_NAME: auth.name || \"Unknown\",\n                    AUTHOR_POSITION: position,\n                    AUTHOR_ID: auth.authorId || \"NO_ID\", // <-- CLAVE PARA EL PASO 2\n                    AFFILIATION_PAPER: affiliation,\n                    GEOLOCATION_COUNTRY_RAW: \"Need extraction\", \n                    SOURCE_DB: \"SemanticScholar\",\n                    page_num: page, search_term: keywords, start_index: offset\n                }\n            });\n        });\n    }\n});\n\nreturn explodedAuthors;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        1872
      ],
      "id": "38699f6e-a98f-42b9-a6cb-27f4a6023c4d",
      "name": "Norm: Semantic"
    },
    {
      "parameters": {
        "name": "=Page {{ $node[\"Norm: Semantic\"].json.batch_page }} from Semantic ({{ $node[\"Norm: Semantic\"].json.search_term }}).csv",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1P6R2nxuQ2P5ItE2z_FATj1iivziZxgpx",
          "mode": "list",
          "cachedResultName": "Semantic_Scholar",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1P6R2nxuQ2P5ItE2z_FATj1iivziZxgpx"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1056,
        1680
      ],
      "id": "88b0e549-4962-473a-9aaa-dcdf149af863",
      "name": "Save Semantic",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tp4opvcxFnolbSb3",
          "name": "Google Drive account 6"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa300bfd-d296-4851-ab15-90ed14aa3dea",
              "name": "offset",
              "value": "={{ $('Norm: Semantic').first().json.page_num * $('Norm: Semantic').first().json.batch_size }}",
              "type": "number"
            },
            {
              "id": "e24dbac6-8d9b-4783-9e76-faf9c9da071c",
              "name": "page_counter",
              "value": "={{ $('Norm: Semantic').first().json.page_num + 1 }}",
              "type": "string"
            },
            {
              "id": "e70035d8-39b0-46a4-9049-7d9bb8ad0c20",
              "name": "Keywords",
              "value": "={{ $('Norm: Semantic').first().json.search_term }}",
              "type": "string"
            },
            {
              "id": "fe5ef1b6-d5f7-439f-82db-f5da7adccc29",
              "name": "batch_size",
              "value": "={{ $('Norm: Semantic').first().json.batch_size }}",
              "type": "string"
            },
            {
              "id": "7a3ae1d0-2346-45f8-8fe8-e142ef203ff3",
              "name": "Year",
              "value": "={{ $('Init Semantic').first().json.Year }}",
              "type": "string"
            },
            {
              "id": "91526825-c3ea-4c6c-b67b-edf6591bfe41",
              "name": "API",
              "value": "={{ $('Init Semantic').first().json.API }}",
              "type": "string"
            },
            {
              "id": "94cd706e-dd9e-45ef-8b0f-18ebbb96f74d",
              "name": "total_batches",
              "value": "={{ $('Init Semantic').first().json.total_batches }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        1680
      ],
      "id": "80e73779-7a36-4434-88e1-d1536d8d3419",
      "name": "Loop++ Semantic"
    },
    {
      "parameters": {
        "content": "# DATA EXTRACTION",
        "height": 272,
        "width": 1200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1872,
        1040
      ],
      "typeVersion": 1,
      "id": "ff7faa7c-9fbf-427d-a8f5-472ab54087dc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# OPEN ALEX BRANCH",
        "height": 288,
        "width": 1280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -704
      ],
      "typeVersion": 1,
      "id": "40b6ed98-255e-4760-af73-7553bfa52ec7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# PUBMED BRANCH",
        "height": 272,
        "width": 1616,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -336,
        272
      ],
      "typeVersion": 1,
      "id": "eb2acf48-50b1-456f-a927-9489a3641c6e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# SCOPUS BRANCH",
        "height": 256,
        "width": 1024,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        1040
      ],
      "typeVersion": 1,
      "id": "dfdd5eb7-647d-46aa-9584-061750675b03",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "const results = items[0].json['search-results']?.entry || [];\nlet pageCounter = 1;\nlet currentStart = 0;\n\ntry {\n    const prevLoop = $('Wait SC1').first().json;\n    pageCounter = prevLoop.page_counter;\n    currentStart = prevLoop.start_index;\n} catch(e) {\n    try {\n        const init = $('Init Scopus').first().json;\n        pageCounter = init.page_counter;\n        currentStart = init.start_index;\n    } catch(e2) {}\n}\n\nconst explodedAuthors = [];\n\nresults.forEach(r => {\n    const title = r['dc:title'] || \"No Title\";\n    const doi = r['prism:doi'] || \"No DOI\";\n    const year = r['prism:coverDate'] ? r['prism:coverDate'].substring(0,4) : \"n/d\";\n    \n    // CORRECCIÓN: Forzar que siempre sean arrays\n    let rawAffiliations = r.affiliation || [];\n    const affiliations = Array.isArray(rawAffiliations) ? rawAffiliations : [rawAffiliations];\n    \n    let rawAuthors = r.author || [];\n    const authors = Array.isArray(rawAuthors) ? rawAuthors : [rawAuthors]; \n\n    // Mapeo de afiliaciones de Scopus\n    let affilMap = {};\n    affiliations.forEach(aff => {\n        let id = aff.afid || aff['@id'];\n        if(id) {\n            affilMap[id] = {\n                name: aff.affilname || \"No affiliation\",\n                country: aff['affiliation-country'] || \"UNKNOWN\"\n            };\n        }\n    });\n\n    if(!authors || authors.length === 0) {\n        explodedAuthors.push({\n            json: {\n                PAPER_TITLE: title, DOI: doi, YEAR: year,\n                AUTHOR_NAME: \"Unknown\", AUTHOR_POSITION: \"Unknown\", AUTHOR_ID: \"NO_ID\",\n                AFFILIATION_PAPER: \"No data\", GEOLOCATION_COUNTRY_RAW: \"UNKNOWN\",\n                SOURCE_DB: \"Scopus\", page_num: pageCounter, current_start_index: currentStart\n            }\n        });\n    } else {\n        authors.forEach((auth, index) => {\n            let position = \"middle\";\n            if (index === 0) position = \"first\";\n            else if (index === authors.length - 1) position = \"last\";\n\n            let authName = auth.authname || `${auth['given-name'] || ''} ${auth.surname || ''}`.trim() || \"Unknown\";\n            let authId = auth.authid || \"NO_ID\";\n            \n            let authAffil = \"No affiliation\";\n            let rawCountry = \"UNKNOWN\";\n\n            if(auth.afid) {\n                let afids = Array.isArray(auth.afid) ? auth.afid : [auth.afid];\n                let aNames = [];\n                let aCountries = [];\n                afids.forEach(idObj => {\n                    let id = (typeof idObj === 'object' && idObj !== null) ? (idObj['$'] || idObj['@id'] || idObj.afid) : idObj;\n                    if(id && affilMap[id]) {\n                        aNames.push(affilMap[id].name);\n                        aCountries.push(affilMap[id].country);\n                    }\n                });\n                if(aNames.length > 0) authAffil = [...new Set(aNames)].join(\" | \");\n                if(aCountries.length > 0) rawCountry = aCountries.find(c => c !== \"UNKNOWN\") || \"UNKNOWN\";\n            }\n\n            // Fallback de contingencia si no engancha el ID\n            if (authAffil === \"No affiliation\" && affiliations.length === 1) {\n                authAffil = affiliations[0].affilname || \"No affiliation\";\n                rawCountry = affiliations[0]['affiliation-country'] || \"UNKNOWN\";\n            } else if (authAffil === \"No affiliation\" && affiliations.length > 0) {\n                authAffil = affiliations.map(a => a.affilname).filter(Boolean).join(\" | \") || \"No affiliation\";\n                let countryList = affiliations.map(a => a['affiliation-country']).filter(c => c && c !== \"UNKNOWN\");\n                rawCountry = countryList.length > 0 ? countryList[0] : \"UNKNOWN\";\n            }\n\n            explodedAuthors.push({\n                json: {\n                    PAPER_TITLE: title, DOI: doi, YEAR: year,\n                    AUTHOR_NAME: authName, AUTHOR_POSITION: position,\n                    AUTHOR_ID: authId,\n                    AFFILIATION_PAPER: authAffil,\n                    GEOLOCATION_COUNTRY_RAW: rawCountry, \n                    SOURCE_DB: \"Scopus\", page_num: pageCounter, current_start_index: currentStart\n                }\n            });\n        });\n    }\n});\n\nreturn explodedAuthors;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        1104
      ],
      "id": "cc68ade1-d829-4c6a-8685-928c911a6c19",
      "name": "Norm: Scopus"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "start_index",
              "value": 0,
              "type": "number",
              "id": "d095d484-df0a-436b-aa43-25bf0436d5d8"
            },
            {
              "name": "page_counter",
              "value": 1,
              "type": "number",
              "id": "1b2d2a7e-7f7d-4b69-9293-3b72b88e9f73"
            },
            {
              "id": "f14f2e25-d851-4a23-a87a-0d4491309439",
              "name": "Keywords",
              "value": "={{ $node[\"Loop Over Items\"].json[\"BOOLEAN SEARCHING STRING\"] }}",
              "type": "string"
            },
            {
              "id": "762e4a2f-d6c1-4f07-9ed0-e2a144515ef9",
              "name": "Year",
              "value": "={{ $node[\"Loop Over Items\"].json[\"YEAR RANGE\"] }}",
              "type": "string"
            },
            {
              "id": "f0aa3808-3ab3-40a8-bdab-cccb9c8894df",
              "name": "batch_size",
              "value": "={{ parseInt($node[\"Loop Over Items\"].json[\"BATCH SIZE\"]) }}",
              "type": "number"
            },
            {
              "id": "c4a3370c-61c0-4b2d-ac53-3461530235ee",
              "name": "API",
              "value": "={{ $node[\"Loop Over Items\"].json[\"API KEY\"] }}",
              "type": "string"
            },
            {
              "id": "1972ebba-6d28-4fe4-8f65-05f3986b7205",
              "name": "total_batches",
              "value": "={{ parseInt($node[\"Loop Over Items\"].json[\"TOTAL BATCHES\"]) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        1120
      ],
      "id": "7a04bd12-c9e5-4cc0-b24b-3dbf038a7308",
      "name": "Init Scopus"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        864,
        928
      ],
      "id": "d984e730-0f08-484a-ae7f-6b0292cd0358",
      "name": "CSV Scopus"
    },
    {
      "parameters": {
        "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "db",
              "value": "pubmed"
            },
            {
              "name": "term",
              "value": "={{ $node[\"Loop Over Items\"].json[\"BOOLEAN SEARCHING STRING\"] }} AND ({{ $node[\"Loop Over Items\"].json[\"YEAR RANGE\"].split('-')[0] }}:{{ $node[\"Loop Over Items\"].json[\"YEAR RANGE\"].split('-')[1] }}[PDAT])"
            },
            {
              "name": "retmode",
              "value": "json"
            },
            {
              "name": "retmax",
              "value": "={{ $('Loop Over Items').first().json['BATCH SIZE'] }}"
            },
            {
              "name": "retstart",
              "value": "={{ $json.retstart }}"
            },
            {
              "name": "api_key",
              "value": "={{ $node[\"Loop Over Items\"].json[\"API KEY\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -96,
        384
      ],
      "id": "a89c6bcf-0dcd-4265-8afa-e540e616f6f3",
      "name": "PubMed Search IDs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check_ids",
              "leftValue": "={{ $json.esearchresult.idlist.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        384
      ],
      "id": "0031640a-d554-4db5-bf2c-8fc33a3eeefc",
      "name": "Got IDs?"
    },
    {
      "parameters": {
        "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "db",
              "value": "pubmed"
            },
            {
              "name": "id",
              "value": "={{ $json.esearchresult.idlist.join(',') }}"
            },
            {
              "name": "retmode",
              "value": "xml"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        272,
        368
      ],
      "id": "81da8552-d0e3-4c30-95c5-50093af2533d",
      "name": "PubMed Fetch XML"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        496,
        368
      ],
      "id": "c34abb34-38e8-4a3a-b360-6cce470c18f2",
      "name": "Parse XML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "PubmedArticleSet.PubmedArticle",
        "options": {}
      },
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        720,
        368
      ],
      "id": "fd32c14d-6c9d-41fa-ad4b-10588bae1c70",
      "name": "Split PubMed"
    },
    {
      "parameters": {
        "jsCode": "let pageCounter = 1;\nlet currentRetStart = 0;\ntry {\n    const prevLoop = $('Wait PM1').first().json;\n    pageCounter = prevLoop.page_counter;\n    currentRetStart = prevLoop.retstart;\n} catch(e) {\n    try {\n        const init = $('Init PubMed').first().json;\n        pageCounter = init.page_counter;\n        currentRetStart = init.retstart;\n    } catch(e2) {}\n}\n\nconst explodedAuthors = [];\n\nitems.forEach(item => {\n    const paper = item.json;\n    const meta = paper.MedlineCitation?.Article || {}; \n    \n    // 1. Limpiar Título\n    let titleRaw = meta.ArticleTitle || \"No Title\";\n    let title = typeof titleRaw === 'object' ? (titleRaw._ || \"No Title\") : titleRaw;\n    \n    // 2. Extraer Año\n    const year = meta.Journal?.JournalIssue?.PubDate?.Year || \"n/d\";\n    \n    // 3. Extraer DOI\n    let doi = \"No DOI\";\n    if (paper.PubmedData?.ArticleIdList?.ArticleId) {\n      const idList = paper.PubmedData.ArticleIdList.ArticleId;\n      const doiObj = Array.isArray(idList) \n          ? idList.find(i => i.IdType === 'doi') \n          : (idList.IdType === 'doi' ? idList : null);\n          \n      if (doiObj) doi = typeof doiObj === 'object' ? (doiObj._ || \"No DOI\") : doiObj;\n    }\n\n    // 4. EXTRAER KEYWORDS MÉDICAS (MeSH Terms)\n    let keywords = \"No data\";\n    const meshList = paper.MedlineCitation?.MeshHeadingList?.MeshHeading;\n    if (meshList) {\n        const meshes = Array.isArray(meshList) ? meshList : [meshList];\n        keywords = meshes.slice(0, 5).map(m => m.DescriptorName._ || m.DescriptorName).join(\", \");\n    }\n\n    const authorList = meta.AuthorList?.Author;\n    \n    if (!authorList) {\n        explodedAuthors.push({\n            json: {\n                PAPER_TITLE: title,\n                DOI: doi,\n                YEAR: year,\n                AUTHOR_NAME: \"No data\",\n                AUTHOR_POSITION: \"No data\",\n                AUTHOR_ID: \"NO_ID\",\n                ORCID: \"NO_ORCID\", // <--- COLUMNA AÑADIDA\n                AFFILIATION: \"No data\",\n                GEOLOCATION_COUNTRY: \"Need LLM extraction\",\n                SOURCE_DB: \"PubMed\",\n                search_term: \"Inherited from search\",\n                page_num: pageCounter,\n                start_index: currentRetStart,\n                scholar_id: \"N/A (PubMed)\",\n                hindex: \"N/A (PubMed)\",\n                i10index: \"N/A (PubMed)\",\n                total_citations: \"N/A (PubMed)\",\n                consecutive_years: \"N/A (PubMed)\",\n                seniority: \"Clinical Data\",\n                keywords: keywords\n            }\n        });\n        return;\n    }\n    \n    const authors = Array.isArray(authorList) ? authorList : [authorList];\n    \n    authors.forEach((auth, index) => {\n        let authorName = \"Unknown\";\n        if (auth.LastName || auth.ForeName) {\n            authorName = `${auth.ForeName || ''} ${auth.LastName || ''}`.trim();\n        } else if (auth.CollectiveName) {\n            authorName = auth.CollectiveName._ || auth.CollectiveName;\n        }\n\n        let position = \"middle\";\n        if (index === 0) position = \"first\";\n        else if (index === authors.length - 1) position = \"last\";\n\n        // Limpiar Afiliación\n        let affiliation = \"No affiliation\";\n        if (auth.AffiliationInfo) {\n            const affInfo = Array.isArray(auth.AffiliationInfo) ? auth.AffiliationInfo[0] : auth.AffiliationInfo;\n            if (affInfo.Affiliation) {\n                affiliation = typeof affInfo.Affiliation === 'object' ? (affInfo.Affiliation._ || \"No affiliation\") : affInfo.Affiliation;\n            }\n        }\n        \n        // --- NUEVA LÓGICA DE ORCID Y AUTHOR ID ---\n        let orcid = \"NO_ORCID\";\n        let authorId = \"NO_ID\"; // Por defecto no hay ID interno en PubMed\n        \n        if (auth.Identifier) {\n            const idInfoArray = Array.isArray(auth.Identifier) ? auth.Identifier : [auth.Identifier];\n            \n            // Buscamos si alguno de los identificadores es el ORCID\n            const orcidObj = idInfoArray.find(id => id.Source === \"ORCID\");\n            \n            if (orcidObj) {\n                let rawOrcid = typeof orcidObj === 'object' ? (orcidObj._ || \"NO_ORCID\") : orcidObj;\n                orcid = rawOrcid.replace(\"http://orcid.org/\", \"\").replace(\"https://orcid.org/\", \"\");\n                // Como PubMed no tiene ID propio, copiamos el ORCID al AUTHOR_ID para mantener la consistencia\n                authorId = orcid; \n            }\n        }\n\n        explodedAuthors.push({\n            json: {\n                PAPER_TITLE: title,\n                DOI: doi,\n                YEAR: year,\n                AUTHOR_NAME: authorName,\n                AUTHOR_POSITION: position,\n                AUTHOR_ID: authorId,\n                ORCID: orcid, // <--- COLUMNA AÑADIDA\n                AFFILIATION: affiliation,\n                GEOLOCATION_COUNTRY: \"Need LLM extraction\", \n                SOURCE_DB: \"PubMed\",\n                search_term: \"Inherited from search\",\n                page_num: pageCounter,\n                start_index: currentRetStart,\n                scholar_id: authorId !== \"NO_ID\" ? authorId : \"N/A (PubMed)\",\n                hindex: \"N/A (PubMed)\",\n                i10index: \"N/A (PubMed)\",\n                total_citations: \"N/A (PubMed)\",\n                consecutive_years: \"N/A (PubMed)\",\n                seniority: \"Clinical Data\",\n                keywords: keywords\n            }\n        });\n    });\n});\n\nreturn explodedAuthors;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        368
      ],
      "id": "fda01208-4e5a-47ef-bd5f-099106200438",
      "name": "Norm: PubMed"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1392,
        176
      ],
      "id": "d16863a0-aa10-46a4-a879-a409e55ed8fe",
      "name": "CSV PubMed"
    },
    {
      "parameters": {
        "name": "=Page_{{ $('Norm: PubMed').first().json.page_num }}_from_PubMed_({{ $('Init PubMed').first().json.Keywords }}).csv",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1W_koaslWpJx7ZM5q44Nyn8in-OkxxISv",
          "mode": "list",
          "cachedResultName": "PUBMED",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1W_koaslWpJx7ZM5q44Nyn8in-OkxxISv"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1616,
        176
      ],
      "id": "331d430d-41b4-4a30-80f1-8ab14dcbf159",
      "name": "Save PubMed",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tp4opvcxFnolbSb3",
          "name": "Google Drive account 6"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "retstart",
              "value": "={{ $('Norm: PubMed').first().json.start_index + $('Init PubMed').first().json.batch_size }}",
              "type": "number",
              "id": "bdaa1fc2-c9ec-4b29-b207-387b18f0814a"
            },
            {
              "name": "page_counter",
              "value": "={{ $('Norm: PubMed').first().json.page_num + 1 }}",
              "type": "number",
              "id": "8ddffb60-9589-4a57-9e20-c33e8db7f559"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        176
      ],
      "id": "2a6f3279-a9d1-4675-9722-d715dcf4d519",
      "name": "Loop++ PubMed"
    },
    {
      "parameters": {
        "content": "# SEMANTIC SCHOLAR BRANCH",
        "height": 208,
        "width": 1072,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        1824
      ],
      "typeVersion": 1,
      "id": "8f22a13e-ae01-4e66-9fb7-3a58ef578d6c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "url": "={{ $json.generated_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        -608
      ],
      "id": "8287e76b-0060-4ea4-ab2f-2333918d0487",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa300bfd-d296-4851-ab15-90ed14aa3dea",
              "name": "page",
              "value": "={{ $node[\"Code in JavaScript\"].json.page + 1 }}",
              "type": "number"
            },
            {
              "id": "e24dbac6-8d9b-4783-9e76-faf9c9da071c",
              "name": "Keywords",
              "value": "={{ $node[\"Code in JavaScript\"].json.Keywords }}",
              "type": "string"
            },
            {
              "id": "f3cb7410-5684-4dc5-94eb-deb7f10a3870",
              "name": "total_batches",
              "value": "={{ $('Init Open Alex').first().json.total_batches }}",
              "type": "string"
            },
            {
              "id": "340ccbbd-c23f-496b-bc02-487b91491be2",
              "name": "batch_size",
              "value": "={{ $node[\"Code in JavaScript\"].json.batch_size }}",
              "type": "string"
            },
            {
              "id": "96fa7dd0-a8a5-4509-ba52-879998cd93f9",
              "name": "Year",
              "value": "={{ $node[\"Code in JavaScript\"].json.Year }}",
              "type": "string"
            },
            {
              "id": "aa4b20ea-e66b-4bc3-999e-135bac170028",
              "name": "PERSONAL_MAIL",
              "value": "={{ $('Init Open Alex').first().json.PERSONAL_MAIL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        -800
      ],
      "id": "650e7c2e-1c52-4684-bde5-3d833e651cb1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## USER INPUTS",
        "height": 192,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1408,
        1072
      ],
      "typeVersion": 1,
      "id": "a5192140-6d9b-4044-b647-b55cfc7c12b7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "retstart",
              "value": 0,
              "type": "number",
              "id": "b46128ad-797a-4ffe-9c58-5a283667d29b"
            },
            {
              "name": "page_counter",
              "value": 1,
              "type": "number",
              "id": "bbcc5f80-b155-4d49-b7a5-85c9fac0c615"
            },
            {
              "id": "5a0f9dac-e70d-49f6-9fb6-bd9353db54fe",
              "name": "Keywords",
              "value": "={{ $node[\"Loop Over Items\"].json[\"BOOLEAN SEARCHING STRING\"] }}",
              "type": "string"
            },
            {
              "id": "47142c6b-30df-434c-a231-a9b65a519424",
              "name": "Year\n",
              "value": "={{ $node[\"Loop Over Items\"].json[\"YEAR RANGE\"] }}",
              "type": "string"
            },
            {
              "id": "63443049-07d4-42cb-ba1d-f51155ac5196",
              "name": "batch_size",
              "value": "={{ parseInt($node[\"Loop Over Items\"].json[\"BATCH SIZE\"]) }}",
              "type": "number"
            },
            {
              "id": "386fabb9-7b34-4495-a7de-4a225aae3b96",
              "name": "API",
              "value": "={{ $node[\"Loop Over Items\"].json[\"API KEY\"] }}",
              "type": "string"
            },
            {
              "id": "7cc3de59-ea65-4727-ac67-dbd59bb17050",
              "name": "total_batches",
              "value": "={{ parseInt($node[\"Loop Over Items\"].json[\"TOTAL BATCHES\"]) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        384
      ],
      "id": "04525905-0ad0-4454-8e80-d5ccb3593c75",
      "name": "Init PubMed"
    },
    {
      "parameters": {
        "jsCode": "const rootData = $(\"Code in JavaScript\").first().json;\nconst page = rootData.page || 1;\nconst keywords = rootData.Keywords || \"Unknown\";\nconst batchSize = rootData.batch_size || 50;\n\nconst response = items[0].json; \nconst papers = response.results || [];\n\nconst explodedAuthors = [];\n\npapers.forEach((paper, index) => {\n  const authorships = paper.authorships || [];\n  \n  // Calculamos el start_index equivalente para igualar la lógica de Scholar\n  const batchStartIndex = (page - 1) * batchSize;\n\n  // Extraer información base del paper\n  const doi = paper.doi ? paper.doi.replace(\"https://doi.org/\", \"\") : \"No DOI\";\n  const title = paper.title || \"No Title\";\n  const year = paper.publication_year || \"n/d\";\n  \n  if (authorships.length === 0) {\n      // Si no hay autores registrados, guardamos el paper para no perderlo\n      explodedAuthors.push({\n          json: {\n              PAPER_TITLE: title,\n              DOI: doi,\n              YEAR: year,\n              AUTHOR_NAME: \"Unknown\",\n              AUTHOR_POSITION: \"Unknown\",\n              AUTHOR_ID: \"NO_ID\",\n              ORCID: \"NO_ORCID\", // <--- NUEVO\n              AFFILIATION: \"No data\",\n              GEOLOCATION_COUNTRY: \"UNKNOWN\",\n              SOURCE_DB: \"OpenAlex\",\n              search_term: keywords,\n              page_num: page,\n              start_index: batchStartIndex\n          }\n      });\n  } else {\n      // Iteramos sobre CADA AUTOR para crear UNA FILA POR AUTOR (Extracción Total)\n      authorships.forEach(auth => {\n          \n          let authorId = \"NO_ID\";\n          let orcid = \"NO_ORCID\"; // <--- NUEVO\n          \n          if (auth.author) {\n              // 1. Extraer ID de Autor de OpenAlex\n              if (auth.author.id) {\n                  authorId = auth.author.id.split('/').pop(); \n              }\n              // 2. Extraer ORCID (Limpiando la URL) // <--- NUEVO\n              if (auth.author.orcid) {\n                  orcid = auth.author.orcid.replace(\"https://orcid.org/\", \"\").replace(\"http://orcid.org/\", \"\");\n              }\n          }\n\n          // Extraer instituciones\n          const institutions = auth.institutions && auth.institutions.length > 0\n              ? auth.institutions.map(i => i.display_name).join(\" | \") \n              : \"No affiliation\";\n              \n          // Extraer países\n          const countries = auth.countries && auth.countries.length > 0 \n              ? auth.countries.join(\" | \") \n              : \"UNKNOWN\";\n          \n          explodedAuthors.push({\n              json: {\n                  PAPER_TITLE: title,\n                  DOI: doi,\n                  YEAR: year,\n                  AUTHOR_NAME: auth.author ? auth.author.display_name : \"Unknown\",\n                  AUTHOR_POSITION: auth.author_position || \"Unknown\",\n                  AUTHOR_ID: authorId,\n                  ORCID: orcid, // <--- NUEVO\n                  AFFILIATION: institutions,\n                  GEOLOCATION_COUNTRY: countries,\n                  SOURCE_DB: \"OpenAlex\",\n                  search_term: keywords,\n                  page_num: page,\n                  start_index: batchStartIndex\n              }\n          });\n      });\n  }\n});\n\nreturn explodedAuthors;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -624
      ],
      "id": "c868f5af-1ec1-4dd3-8586-900e06339d39",
      "name": "Norm_Open_Alex"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1072,
        -800
      ],
      "id": "a708276b-3901-45f1-99f0-11fcd6dd619b",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fd50a169-3b3e-4c18-beaa-d4d6592beb65",
              "leftValue": "={{ $json.results.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        -608
      ],
      "id": "a34282f1-a16a-4896-882f-013b95a92b85",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// 1. Rescatamos TODA la info original del lote actual\nconst originalItems = $('Loop Over Items1').all();\n\nreturn items.map((item, index) => {\n    // 2. Leemos el país limpio extraído por la IA\n    let rawCountry = item.json.output?.country_code || item.json.country_code || \"UNKNOWN\";\n    let cleanCountry = rawCountry.trim().replace(/[^a-zA-Z]/g, \"\").toUpperCase();\n\n    // 3. Clonamos la fila original completa para no perder ninguna columna\n    let originalData = { ...originalItems[index].json };\n\n    // 4. Inyectamos el país (Logic-Lock de 2 letras)\n    if (cleanCountry.length === 2) {\n        originalData.GEOLOCATION_COUNTRY = cleanCountry;\n    } else {\n        originalData.GEOLOCATION_COUNTRY = \"UNKNOWN\";\n    }\n\n    // 5. Devolvemos el JSON con toda la info junta\n    return { json: originalData };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        384
      ],
      "id": "cfcbc342-c2af-41c1-8ab3-4a454c4c4efb",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "text": "={{ $('Norm: PubMed').item.json.AFFILIATION }}",
        "attributes": {
          "attributes": [
            {
              "name": "country_code",
              "description": "The 2-letter ISO 3166-1 alpha-2 country code (e.g., US, CN, GB, EC). Do not infer the country based on the author's name. If the affiliation only lists a department or hospital without a recognizable geographic location, strictly output \"UNKNOWN\". Return ONLY the 2-letter code or \"UNKNOWN\""
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert scientometric data auditor.",
          "batching": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1376,
        384
      ],
      "id": "67baf8b8-aff9-4f51-90c4-b92d7dc8f179",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1376,
        560
      ],
      "id": "ccf6c463-863e-45b5-890e-96385ed50fb0",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "WdUOsyA5i3r6V9dS",
          "name": "Azure Open AI account 2"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1168,
        368
      ],
      "id": "d6306dca-82b1-4ff1-bfbe-5758ff6ec055",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1904,
        384
      ],
      "id": "24ace4a7-4814-41bf-9203-57a68fe612f5",
      "name": "Wait PM",
      "webhookId": "8f3001f4-cbc1-4df6-90b3-7a9bc1fcbfc0"
    },
    {
      "parameters": {
        "content": "\n",
        "height": 560,
        "width": 1104,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        144
      ],
      "typeVersion": 1,
      "id": "4637e60e-9865-4eda-a241-86441d447d64",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        2416
      ],
      "id": "41beda9b-1553-448e-b9ea-6ccd10bca6c5",
      "name": "Wait1",
      "webhookId": "85712f9e-969e-4e90-8ce0-08310bbb6467"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        816,
        2432
      ],
      "id": "6a3ceeba-9b61-4a5f-ba9e-22ebc11973a6",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "content": "# GOOGLE SCHOLAR BRANCH",
        "height": 272,
        "width": 1072,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        2544
      ],
      "typeVersion": 1,
      "id": "45fbfcff-5032-422f-afd2-13337f8a03df",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80298353-7b13-4583-86cf-84d51c4c2ed5",
              "name": "start_index",
              "value": 0,
              "type": "number"
            },
            {
              "id": "d293f16d-d28c-4ea2-832f-6d609a28dc43",
              "name": "page_counter",
              "value": 1,
              "type": "number"
            },
            {
              "id": "b4626a10-0200-4ba6-8729-67b4439b2897",
              "name": "Keywords",
              "value": "={{ $node[\"Loop Over Items\"].json[\"BOOLEAN SEARCHING STRING\"] }}",
              "type": "string"
            },
            {
              "id": "6c38965e-f970-46cd-bf7b-35a1f7a771e1",
              "name": "batch_size",
              "value": "={{ parseInt($node[\"Loop Over Items\"].json[\"BATCH SIZE\"]) }}",
              "type": "string"
            },
            {
              "id": "ddeb5439-3a8b-40da-953d-f9d8fb9b133e",
              "name": "Year",
              "value": "={{ $node[\"Loop Over Items\"].json[\"BOOLEAN SEARCHING STRING\"] }} as_ylo={{ $node[\"Loop Over Items\"].json[\"YEAR RANGE\"].split('-')[0] }} as_yhi={{ $node[\"Loop Over Items\"].json[\"YEAR RANGE\"].split('-')[1] }}",
              "type": "string"
            },
            {
              "id": "13e30a37-6adc-430b-b936-c9a06c278294",
              "name": "API",
              "value": "={{ $node[\"Loop Over Items\"].json[\"API KEY\"].toString().trim() }}",
              "type": "string"
            },
            {
              "id": "94ef7e68-4309-4d86-a8f1-4dbc29b592a7",
              "name": "total_batches",
              "value": "={{ $node[\"Loop Over Items\"].json[\"TOTAL BATCHES\"] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        2640
      ],
      "id": "356a7936-782a-4c6b-a166-a7c7e0028f4c",
      "name": "Init Google Sholar"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "=google_scholar"
            },
            {
              "name": "q",
              "value": "={{ $json.Keywords }}"
            },
            {
              "name": "start",
              "value": "={{ $json.start_index }}"
            },
            {
              "name": "num",
              "value": "20"
            },
            {
              "name": "as_ylo",
              "value": "={{ $node[\"Loop Over Items\"].json[\"YEAR RANGE\"].split('-')[0] }}"
            },
            {
              "name": "as_yhi",
              "value": "={{ $node[\"Loop Over Items\"].json[\"YEAR RANGE\"].split('-')[1] }}"
            },
            {
              "name": "api_key",
              "value": "={{ $('Init Google Sholar').item.json.API }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -80,
        2640
      ],
      "id": "b918cd4a-5b54-4f0e-a351-edd0567a1a03",
      "name": "HTTP Request (Scholar API)",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const results = items[0].json.organic_results || [];\nlet pageCounter = 1; let currentStart = 0; let queryUsada = \"\"; \n\n// LÓGICA DE BUCLE: Primero revisamos si venimos del Wait, si no, tomamos del Init\ntry {\n    const prevLoop = $('Wait1').first().json;\n    pageCounter = prevLoop.page_counter;\n    currentStart = prevLoop.start_index;\n    queryUsada = prevLoop.Keywords;\n} catch(e) {\n    try {\n        const init = $('Init Google Sholar').first().json;\n        pageCounter = init.page_counter;\n        currentStart = init.start_index;\n        queryUsada = init.Keywords;\n    } catch(e2) {}\n}\n\nconst targetAuthors = [];\n\nresults.forEach(r => {\n    const title = r.title || \"No Title\";\n    const link = r.link || \"No link\";\n    const summary = r.publication_info?.summary || \"\";\n    const yearMatch = summary.match(/\\b(19|20)\\d{2}\\b/);\n    const yearExtracted = yearMatch ? yearMatch[0] : \"n/d\";\n\n    const authorsArray = r.publication_info?.authors || [];\n\n    if (authorsArray.length === 0) {\n        targetAuthors.push({\n            json: {\n                PAPER_TITLE: title, DOI: link, YEAR: yearExtracted,\n                AUTHOR_NAME: \"Unknown\", AUTHOR_POSITION: \"first\",\n                AUTHOR_ID: \"NO_ID\", AFFILIATION: \"No Profile in Scholar\",\n                GEOLOCATION_COUNTRY: \"UNKNOWN\", SOURCE_DB: \"GoogleScholar\", \n                search_term: queryUsada, page_num: pageCounter, start_index: currentStart\n            }\n        });\n    } else {\n        // TÉCNICA LUKAS: Solo Primer Autor\n        const firstAuthor = authorsArray[0];\n        targetAuthors.push({\n            json: {\n                PAPER_TITLE: title, DOI: link, YEAR: yearExtracted,\n                AUTHOR_NAME: firstAuthor.name, AUTHOR_POSITION: \"first\",\n                AUTHOR_ID: firstAuthor.author_id || \"NO_ID\", \n                AFFILIATION: \"Pending...\", \n                GEOLOCATION_COUNTRY: \"Pending...\",\n                SOURCE_DB: \"GoogleScholar\", search_term: queryUsada, \n                page_num: pageCounter, start_index: currentStart\n            }\n        });\n\n        // TÉCNICA LUKAS: Solo Último Autor\n        if (authorsArray.length > 1) {\n            const lastAuthor = authorsArray[authorsArray.length - 1];\n            targetAuthors.push({\n                json: {\n                    PAPER_TITLE: title, DOI: link, YEAR: yearExtracted,\n                    AUTHOR_NAME: lastAuthor.name, AUTHOR_POSITION: \"last\",\n                    AUTHOR_ID: lastAuthor.author_id || \"NO_ID\",\n                    AFFILIATION: \"Pending...\",\n                    GEOLOCATION_COUNTRY: \"Pending...\",\n                    SOURCE_DB: \"GoogleScholar\", search_term: queryUsada, \n                    page_num: pageCounter, start_index: currentStart\n                }\n            });\n        }\n    }\n});\n\nreturn targetAuthors;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        2624
      ],
      "id": "21098525-95ab-46f4-ac56-f4faceb752db",
      "name": "Norm: Scholar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f4246260-c738-4fa3-bbec-96d7a155a64e",
              "leftValue": "={{ $json.organic_results ? $json.organic_results.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        128,
        2640
      ],
      "id": "167c565d-29cb-4a51-bfbb-6a6ca71ece28",
      "name": "Check Scholar Results"
    },
    {
      "parameters": {
        "name": "=Page_{{ $('Norm: Scholar').first().json.page_num }}_from_Scholar_({{ $('Norm: Scholar').first().json.search_term }}).csv",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1unwyW6O95jhzJyLyC-yBzv44FZIZektb",
          "mode": "list",
          "cachedResultName": "Google_Schoolar",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1unwyW6O95jhzJyLyC-yBzv44FZIZektb"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1040,
        2432
      ],
      "id": "579612f9-7e32-4f73-903d-f08762aab0dd",
      "name": "Save Scholar",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tp4opvcxFnolbSb3",
          "name": "Google Drive account 6"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        576,
        2624
      ],
      "id": "aceedb93-b31b-474b-8b63-9204966dee36",
      "name": "Loop Authors Scholar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9134423f-1d37-460d-aeb4-09691b423b1b",
              "leftValue": "={{ $json.AUTHOR_ID }}",
              "rightValue": "J",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        2640
      ],
      "id": "05eddcad-378a-4bec-a10d-aace7d715346",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_scholar_author"
            },
            {
              "name": "author_id",
              "value": "={{ $json.AUTHOR_ID }}"
            },
            {
              "name": "api_key",
              "value": "={{ $('Init Google Sholar').first().json.API }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        2624
      ],
      "id": "8992852f-6887-4271-bde1-fa4d0316fdbf",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "text": "={{ $json.author && $json.author.affiliations ? $json.author.affiliations : \"None\" }}",
        "attributes": {
          "attributes": [
            {
              "name": "country_code",
              "description": "The 2-letter ISO 3166-1 alpha-2 country code (e.g., US, CN, GB, EC). Do not infer the country based on the author's name. If the affiliation only lists a department or hospital without a recognizable geographic location, strictly output \"UNKNOWN\". Return ONLY the 2-letter code or \"UNKNOWN\""
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert scientometric data auditor.",
          "batching": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1264,
        2624
      ],
      "id": "d0fe2b5a-ce7c-4028-9bd1-8611edaa937d",
      "name": "Information Extractor1"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1264,
        2800
      ],
      "id": "1c7cadb9-65bb-4c49-8b53-deab85a228ab",
      "name": "Azure OpenAI Chat Model1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "WdUOsyA5i3r6V9dS",
          "name": "Azure Open AI account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Rescatamos los datos del autor original de esta iteración exacta\nlet originalData = { ...$('Loop Authors Scholar').item.json };\n\n// 2. Rescatamos el perfil completo\nlet profile = $('HTTP Request1').item.json;\n\n// 3. Rescatamos la extracción del país (LLM)\nlet llmOutput = items[0].json;\n\n// --- DATOS BÁSICOS Y LLM ---\nlet affiliationText = profile.author?.affiliations;\noriginalData.AFFILIATION = affiliationText ? affiliationText : \"No affiliation listed in profile\";\n\nlet rawCountry = \"UNKNOWN\";\nif (llmOutput.output && llmOutput.output.country_code) rawCountry = llmOutput.output.country_code;\nelse if (llmOutput.country_code) rawCountry = llmOutput.country_code;\n\nlet cleanCountry = rawCountry.trim().replace(/[^a-zA-Z]/g, \"\").toUpperCase();\noriginalData.GEOLOCATION_COUNTRY = (cleanCountry.length === 2 && cleanCountry !== \"NO\") ? cleanCountry : \"UNKNOWN\";\n\n// --- MÉTRICAS PURAS DE IMPACTO ---\nlet hindex = \"N/A\"; let i10index = \"N/A\"; let total_citations = \"N/A\";\n\nif (profile.cited_by && Array.isArray(profile.cited_by.table)) {\n    profile.cited_by.table.forEach(row => {\n        if (row.citations !== undefined) total_citations = row.citations.all ?? \"N/A\";\n        if (row.h_index !== undefined) hindex = row.h_index.all ?? \"N/A\";\n        if (row.i10_index !== undefined) i10index = row.i10_index.all ?? \"N/A\";\n    });\n}\n\n// --- INTERESES / KEYWORDS ---\noriginalData.interests = (profile.author && Array.isArray(profile.author.interests)) \n    ? profile.author.interests.map(i => i.title).join(\" | \") \n    : \"None\";\n    \n// --- CÁLCULO DE SENIORITY Y RACHA ---\nlet consecutive_years = 0;\nlet seniority = \"Unknown\";\n\nif (profile.articles && Array.isArray(profile.articles) && profile.articles.length > 0) {\n    let years = profile.articles.map(a => parseInt(a.year)).filter(y => !isNaN(y));\n        \n    if (years.length > 0) {\n        let uniqueYears = [...new Set(years)].sort((a,b) => b - a);\n        \n        consecutive_years = 1;\n        let current = uniqueYears[0];\n        for (let i = 1; i < uniqueYears.length; i++) {\n            if (uniqueYears[i] === current - 1) {\n                consecutive_years++;\n                current = uniqueYears[i];\n            } else break; \n        }\n        \n        let firstYear = Math.min(...uniqueYears);\n        let currentYear = new Date().getFullYear();\n        let careerLength = currentYear - firstYear; \n        \n        if (careerLength > 15) seniority = \"Senior\";\n        else if (careerLength >= 5) seniority = \"Mid\";\n        else seniority = \"Early\";\n    }\n}\n\n// Inyectar resultados de vuelta al objeto\noriginalData.total_citations = total_citations;\noriginalData.hindex = hindex;\noriginalData.i10index = i10index;\noriginalData.consecutive_years = consecutive_years;\noriginalData.seniority = seniority;\n\n// Retornamos el item único procesado\nreturn { json: originalData };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        2624
      ],
      "id": "fb5aefc2-bc8a-4876-af28-e34565d3b127",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54dfd00b-b829-4403-b6a9-2fd230b8d752",
              "name": "AFFILIATION",
              "value": "No public profile",
              "type": "string"
            },
            {
              "id": "edc67d96-0c49-4663-baf7-6b62be592f61",
              "name": "GEOLOCATION_COUNTRY",
              "value": "UNKNOWN",
              "type": "string"
            },
            {
              "id": "04049b0e-1dda-4f8b-85b5-0ad52a77442d",
              "name": "total_citations",
              "value": "N/A",
              "type": "string"
            },
            {
              "id": "d93d77fd-d898-47b5-937d-9f4f0615303e",
              "name": "hindex",
              "value": "N/A",
              "type": "string"
            },
            {
              "id": "b83537cb-b2cc-41dc-8251-f2e7d157c316",
              "name": "i10index",
              "value": "N/A",
              "type": "string"
            },
            {
              "id": "d710b3ee-0049-40b7-84d4-d47e9af31e2e",
              "name": "interests",
              "value": "N/A",
              "type": "string"
            },
            {
              "id": "90ae6d38-30b7-4f1e-8d16-5da8c48c72c1",
              "name": "consecutive_years",
              "value": 0,
              "type": "number"
            },
            {
              "id": "693943a5-7076-4801-ad6b-9dea6137d027",
              "name": "seniority",
              "value": "No profile",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        2816
      ],
      "id": "534439ab-2fd2-4f52-8cbb-e1c6cb6e7fac",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1888,
        2816
      ],
      "id": "009c9d82-9557-446c-8678-3a87e1872a39",
      "name": "Wait3",
      "webhookId": "85712f9e-969e-4e90-8ce0-08310bbb6467"
    },
    {
      "parameters": {
        "content": "",
        "height": 560,
        "width": 1296,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        2400
      ],
      "typeVersion": 1,
      "id": "1c98287c-4c7f-4a6f-9746-69c99fa58c6d",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa300bfd-d296-4851-ab15-90ed14aa3dea",
              "name": "start_index",
              "value": "={{ $('Norm: Scholar').first().json.start_index + 20 }}",
              "type": "number"
            },
            {
              "id": "e24dbac6-8d9b-4783-9e76-faf9c9da071c",
              "name": "page_counter",
              "value": "={{ $('Norm: Scholar').first().json.page_num + 1 }}",
              "type": "number"
            },
            {
              "id": "e70035d8-39b0-46a4-9049-7d9bb8ad0c20",
              "name": "Keywords",
              "value": "={{ $('Norm: Scholar').first().json.search_term }}",
              "type": "string"
            },
            {
              "id": "fe5ef1b6-d5f7-439f-82db-f5da7adccc29",
              "name": "batch_size",
              "value": "={{ $('Init Google Sholar').first().json.batch_size }}",
              "type": "string"
            },
            {
              "id": "7a3ae1d0-2346-45f8-8fe8-e142ef203ff3",
              "name": "Year",
              "value": "={{ $('Init Google Sholar').first().json.Year }}",
              "type": "string"
            },
            {
              "id": "05862115-5809-4c5c-8092-e80580e20eec",
              "name": "API",
              "value": "={{ $('Init Google Sholar').first().json.API }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        2432
      ],
      "id": "f922ff5f-29da-4ff7-9c1f-00f65a9a5797",
      "name": "Loop++ Scholar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "772e7047-0608-4510-87f1-299d12fd50ad",
              "leftValue": "={{ $json.page_counter }}",
              "rightValue": "={{ $('Init Google Sholar').first().json.total_batches }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1440,
        2432
      ],
      "id": "5999abeb-dabf-45aa-9cc9-639ae931b9ee",
      "name": "Check Total Batches"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a8f5d2ee-b3ed-4bb0-bfbf-0b4b06798227",
              "leftValue": "={{ $json.page_counter }}",
              "rightValue": "={{ $('Init Semantic').first().json.total_batches }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1520,
        1680
      ],
      "id": "ba7a08e7-306a-4ef4-b7d9-c5c204426986",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a8f5d2ee-b3ed-4bb0-bfbf-0b4b06798227",
              "leftValue": "={{ $json.page_counter }}",
              "rightValue": "={{ $('Init Scopus').first().json.total_batches }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1520,
        928
      ],
      "id": "9ba0db58-f651-407a-917a-96c2f362264e",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a8f5d2ee-b3ed-4bb0-bfbf-0b4b06798227",
              "leftValue": "={{ $json.page_counter }}",
              "rightValue": "={{ $('Init PubMed').first().json.total_batches }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2032,
        176
      ],
      "id": "dc678951-2067-441a-a81b-b456fcae4df6",
      "name": "If4"
    },
    {
      "parameters": {
        "jsCode": "const rootData = $('Loop Over Items').first().json;\nconst keywords = rootData['BOOLEAN SEARCHING STRING'];\nconst batchSize = rootData['BATCH SIZE'] || 50; \n\nconst page = items[0].json.page || 1;\n\nlet yearRange = rootData['YEAR RANGE'];\n\nif (!yearRange) {\n    try {\n        yearRange = $('Init Open Alex').first().json.Year;\n    } catch(e) {\n        yearRange = null; \n    }\n}\n\nconst encodedQuery = encodeURIComponent(keywords);\nconst email = \"isaac.gavilanes@yachaytech.edu.ec\";\nconst finalLimit = batchSize > 200 ? 200 : batchSize;\n\nlet filterParam = `title_and_abstract.search:${encodedQuery}`;\n\nif (yearRange) {\n    filterParam += `,publication_year:${yearRange}`;\n}\n\nconst url = `https://api.openalex.org/works?filter=${filterParam}&per_page=${finalLimit}&page=${page}&mailto=${email}`;\n\nreturn [\n  {\n    json: {\n      Keywords: keywords,\n      page: page,\n      generated_url: url,\n      batch_size: finalLimit,\n      Year: yearRange \n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -608
      ],
      "id": "1e9b3750-4620-4c97-a2f8-57f0ae8b8b8c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a8f5d2ee-b3ed-4bb0-bfbf-0b4b06798227",
              "leftValue": "={{ Number($json.page) }}",
              "rightValue": "={{ Number($json.total_batches) }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1696,
        -800
      ],
      "id": "2dc52e19-6623-4a8a-9082-3dc9dde8121c",
      "name": "If6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        816,
        -624
      ],
      "id": "9e4358b3-6cd7-4e89-8bcc-fb29e55213ce",
      "name": "Loop Authors OpenAlex"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f2427967-fa90-4b61-93ef-434bfbd1956a",
              "leftValue": "={{ $json.AUTHOR_ID }}",
              "rightValue": "A",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1072,
        -608
      ],
      "id": "ac819d18-6282-4e5b-ae74-26d39cc14c6c",
      "name": "If5"
    },
    {
      "parameters": {
        "url": "=https://api.openalex.org/authors/{{ $json.AUTHOR_ID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1296,
        -624
      ],
      "id": "53c16c37-353a-46fb-b49a-4a81361830ec",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "jsCode": "// 1. Rescatamos la fila original del Paper\nconst originalData = $('Loop Authors OpenAlex').item.json;\n\n// 2. Rescatamos los datos del perfil del Autor de OpenAlex\nconst authorProfile = items[0].json;\n\n// --- EXTRACCIÓN DE MÉTRICAS BASE ---\nconst hindex = authorProfile.summary_stats ? authorProfile.summary_stats.h_index : 0;\nconst i10index = authorProfile.summary_stats ? authorProfile.summary_stats.i10_index : 0;\nconst total_citations = authorProfile.cited_by_count || 0;\n\n// --- EXTRACCIÓN DE KEYWORDS / INTERESES ---\nlet keywords = \"No data\";\nif (authorProfile.x_concepts && authorProfile.x_concepts.length > 0) {\n    // Tomamos los 5 conceptos principales que OpenAlex le asigna\n    keywords = authorProfile.x_concepts.slice(0, 5).map(c => c.display_name).join(\", \");\n}\n\n// --- AFILIACIÓN HISTÓRICA ---\nlet affiliation = originalData.AFFILIATION; \nif (authorProfile.last_known_institution && authorProfile.last_known_institution.display_name) {\n    affiliation = authorProfile.last_known_institution.display_name;\n}\n\n// --- CÁLCULO DE AÑOS CONSECUTIVOS PUBLICANDO ---\nlet consecutive_years = 0;\nif (authorProfile.counts_by_year && authorProfile.counts_by_year.length > 0) {\n    // Extraemos solo los años donde publicó al menos 1 paper y ordenamos de mayor a menor\n    const years = authorProfile.counts_by_year\n        .filter(y => y.works_count > 0)\n        .map(y => y.year)\n        .sort((a, b) => b - a);\n        \n    if (years.length > 0) {\n        consecutive_years = 1; // El primer año cuenta\n        let currentYearCheck = years[0];\n        \n        for (let i = 1; i < years.length; i++) {\n            if (years[i] === currentYearCheck - 1) {\n                consecutive_years++;\n                currentYearCheck = years[i];\n            } else {\n                break; // Se rompió la racha consecutiva\n            }\n        }\n    }\n}\n\n// --- CÁLCULO DE SENIORITY ---\nlet seniority = \"Unknown\";\nif (consecutive_years > 0 && consecutive_years <= 5) seniority = \"Early\";\nelse if (consecutive_years > 5 && consecutive_years <= 12) seniority = \"Mid\";\nelse if (consecutive_years > 12) seniority = \"Senior\";\n\n// --- CREAR LA FILA FINAL ENRIQUECIDA ---\nreturn {\n    json: {\n        ...originalData,\n        PROFILE_ID: originalData.AUTHOR_ID, \n        hindex: hindex,\n        i10index: i10index,\n        total_citations: total_citations,\n        consecutive_years: consecutive_years,\n        seniority: seniority,\n        keywords: keywords,\n        AFFILIATION: affiliation \n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        -624
      ],
      "id": "fec99279-7cf1-46fe-ab99-e8fe1f747c21",
      "name": "Merge OpenAlex Metrics"
    },
    {
      "parameters": {
        "jsCode": "const originalData = $('Loop Authors OpenAlex').item.json;\nreturn {\n    json: {\n        ...originalData,\n        PROFILE_ID: originalData.AUTHOR_ID, \n        hindex: 0,\n        i10index: 0,\n        total_citations: 0,\n        consecutive_years: 0,\n        seniority: \"Unknown\",\n        keywords: \"No data\"\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        -480
      ],
      "id": "cdd32931-5115-43f0-8b0a-1458fa3cf5e3",
      "name": "Empty OpenAlex Metrics"
    },
    {
      "parameters": {
        "content": "",
        "height": 496,
        "width": 1088,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        -816
      ],
      "typeVersion": 1,
      "id": "53accaa6-ee6d-4e35-a54b-9f3fca072d9c",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        592,
        1104
      ],
      "id": "c5681460-59c7-4c0a-8c10-e394f9ab915d",
      "name": "Loop Authors Scopus"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9dd6d563-af3d-4b60-a708-498ec49b47ba",
              "leftValue": "={{ $json.AUTHOR_ID }}",
              "rightValue": "NO_ID",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        1120
      ],
      "id": "a0a34fb2-ee12-4ae3-af98-fea6388c60a9",
      "name": "If Valid Scopus ID"
    },
    {
      "parameters": {
        "url": "=https://api.elsevier.com/content/author/author_id/{{ $json.AUTHOR_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ELS-APIKey",
              "value": "={{ $('Init Scopus').first().json.API.toString().trim() }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "view",
              "value": "ENHANCED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1104,
        1104
      ],
      "id": "beed1af7-b2c4-48f7-a469-35adc0be3502",
      "name": "Scopus Author API"
    },
    {
      "parameters": {
        "jsCode": "// 1. Rescatamos los datos del autor (extraídos en el loop previo de Scopus)\nconst originalData = $('Loop Authors Scopus').item.json;\n\n// 2. Variables por defecto (Estructura fija para el CSV)\nlet hindex = \"N/A\";\nlet total_citations = \"N/A\";\nlet consecutive_years = 0; \nlet seniority = \"Unknown\";\nlet orcid = \"NO_ORCID\";\nlet currentAffiliation = originalData.AFFILIATION_PAPER || \"No affiliation\";\n\ntry {\n    const response = items[0].json['author-retrieval-response'];\n    const authorProfile = Array.isArray(response) ? response[0] : response;\n    \n    if (authorProfile) {\n        // --- 1. MÉTRICAS ---\n        const coreData = authorProfile.coredata || {};\n        \n        // Citas\n        total_citations = coreData['citation-count'] || coreData['document-ent-count'] || \"N/A\";\n\n        // H-Index (Búsqueda multicanal)\n        let hData = authorProfile['h-index'] || coreData['h-index'] || authorProfile['h-index-info']?.['h-index'];\n        if (hData) {\n            hindex = (typeof hData === 'object') ? (hData['$'] || hData['value']) : hData;\n        }\n\n        // --- 2. ORCID ---\n        orcid = coreData['orcid'] || authorProfile['orcid'] || \"NO_ORCID\";\n\n        // --- 3. AFILIACIÓN ACTUAL (Perfil del autor) ---\n        const profileAffil = authorProfile['author-profile']?.affiliation?.['affiliation-data']?.affilname;\n        if (profileAffil) {\n            currentAffiliation = profileAffil;\n        }\n\n        // --- 4. SENIORITY ---\n        let pubRange = authorProfile['author-profile']?.['publication-range'] || coreData['publication-range'];\n        \n        if (pubRange) {\n            let firstYear = parseInt(pubRange['@first'] || (Array.isArray(pubRange) ? pubRange[0] : pubRange.split('-')[0]));\n            if (!isNaN(firstYear)) {\n                let currentYear = new Date().getFullYear();\n                consecutive_years = (currentYear - firstYear) + 1;\n                \n                if (consecutive_years > 15) seniority = \"Senior\";\n                else if (consecutive_years >= 5) seniority = \"Mid\";\n                else seniority = \"Early\";\n            }\n        }\n    }\n} catch(e) {\n    console.error(\"Error en Merge Scopus Metrics:\", e);\n}\n\n// --- DICCIONARIO ISO (Mantenlo para normalizar GEOLOCATION_COUNTRY) ---\nconst isoMap = {\n    \"united states\": \"US\", \"usa\": \"US\", \"china\": \"CN\", \"united kingdom\": \"GB\", \"india\": \"IN\",\n    \"germany\": \"DE\", \"japan\": \"JP\", \"france\": \"FR\", \"canada\": \"CA\", \"italy\": \"IT\", \n    \"australia\": \"AU\", \"spain\": \"ES\", \"russia\": \"RU\", \"russian federation\": \"RU\",\n    \"brazil\": \"BR\", \"ecuador\": \"EC\", \"mexico\": \"MX\", \"colombia\": \"CO\", \"chile\": \"CL\"\n    // ... puedes seguir añadiendo según necesites\n};\n\nconst getIsoCode = (countryName) => {\n    if(!countryName || countryName === \"UNKNOWN\") return \"UNKNOWN\";\n    let c = countryName.toLowerCase().trim();\n    return isoMap[c] || \"UNKNOWN\";\n};\n\n// --- PREVENCIÓN DE ERRORES DE REFERENCIA ---\nlet searchTerm = \"N/A\";\ntry { searchTerm = $('Init Scopus').first().json.Keywords; } catch(e) {}\n\n// --- RETORNO FINAL (Estructura Espejo del nodo Empty) ---\nreturn {\n    json: {\n        PAPER_TITLE: originalData.PAPER_TITLE,\n        DOI: originalData.DOI,\n        YEAR: originalData.YEAR,\n        AUTHOR_NAME: originalData.AUTHOR_NAME,\n        AUTHOR_POSITION: originalData.AUTHOR_POSITION,\n        AUTHOR_ID: originalData.AUTHOR_ID,\n        ORCID: orcid,\n        AFFILIATION: currentAffiliation,\n        GEOLOCATION_COUNTRY: getIsoCode(originalData.GEOLOCATION_COUNTRY_RAW),\n        SOURCE_DB: \"Scopus\",\n        search_term: searchTerm,\n        page_num: originalData.page_num || 1,\n        start_index: originalData.current_start_index || 0,\n        scholar_id: \"N/A (Scopus)\",\n        hindex: hindex,\n        i10index: \"N/A\", \n        total_citations: total_citations,\n        consecutive_years: consecutive_years,\n        seniority: seniority,\n        keywords: \"N/A\" \n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        1104
      ],
      "id": "b54e1719-488b-4c9d-a0c3-c9785bf37bd1",
      "name": "Merge Scopus Metrics"
    },
    {
      "parameters": {
        "jsCode": "const originalData = $('Loop Authors Scopus').item.json;\n\n// Diccionario traductor ISO (debe existir aquí también)\nconst isoMap = {\n    \"united states\": \"US\", \"usa\": \"US\", \"china\": \"CN\", \"united kingdom\": \"GB\", \"india\": \"IN\",\n    \"germany\": \"DE\", \"japan\": \"JP\", \"france\": \"FR\", \"canada\": \"CA\", \"italy\": \"IT\", \n    \"australia\": \"AU\", \"spain\": \"ES\", \"russia\": \"RU\", \"russian federation\": \"RU\",\n    \"south korea\": \"KR\", \"brazil\": \"BR\", \"netherlands\": \"NL\", \"switzerland\": \"CH\",\n    \"sweden\": \"SE\", \"turkey\": \"TR\", \"poland\": \"PL\", \"taiwan\": \"TW\", \"belgium\": \"BE\",\n    \"iran\": \"IR\", \"denmark\": \"DK\", \"austria\": \"AT\", \"israel\": \"IL\", \"mexico\": \"MX\",\n    \"south africa\": \"ZA\", \"egypt\": \"EG\", \"finland\": \"FI\", \"greece\": \"GR\",\n    \"portugal\": \"PT\", \"norway\": \"NO\", \"singapore\": \"SG\", \"ireland\": \"IE\",\n    \"new zealand\": \"NZ\", \"argentina\": \"AR\", \"chile\": \"CL\", \"colombia\": \"CO\",\n    \"ecuador\": \"EC\", \"malaysia\": \"MY\", \"indonesia\": \"ID\", \"thailand\": \"TH\",\n    \"pakistan\": \"PK\", \"bangladesh\": \"BD\", \"saudi arabia\": \"SA\", \"vietnam\": \"VN\",\n    \"philippines\": \"PH\", \"ukraine\": \"UA\", \"czech republic\": \"CZ\", \"romania\": \"RO\",\n    \"hungary\": \"HU\", \"slovakia\": \"SK\", \"iraq\": \"IQ\", \"peru\": \"PE\", \"morocco\": \"MA\"\n};\n\nconst getIsoCode = (countryName) => {\n    if(!countryName || countryName === \"UNKNOWN\") return \"UNKNOWN\";\n    let c = countryName.toLowerCase().trim();\n    return isoMap[c] || \"UNKNOWN\";\n};\n\nlet keyword = \"N/A\";\ntry { keyword = $('Init Scopus').first().json.Keywords; } catch(e){}\n\nreturn {\n    json: {\n        PAPER_TITLE: originalData.PAPER_TITLE,\n        DOI: originalData.DOI,\n        YEAR: originalData.YEAR,\n        AUTHOR_NAME: originalData.AUTHOR_NAME,\n        AUTHOR_POSITION: originalData.AUTHOR_POSITION,\n        AUTHOR_ID: originalData.AUTHOR_ID,\n        ORCID: \"NO_ORCID\",\n        AFFILIATION: originalData.AFFILIATION_PAPER,\n        GEOLOCATION_COUNTRY: getIsoCode(originalData.GEOLOCATION_COUNTRY_RAW),\n        SOURCE_DB: \"Scopus\",\n        search_term: keyword,\n        page_num: originalData.page_num,\n        start_index: originalData.current_start_index,\n        scholar_id: \"N/A (Scopus)\",\n        hindex: \"N/A\",\n        i10index: \"N/A\", \n        total_citations: \"N/A\",\n        consecutive_years: 0,\n        seniority: \"Unknown\",\n        keywords: \"N/A\" \n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        1248
      ],
      "id": "1d0638bb-67d5-4dbf-9268-d62cb693bfcd",
      "name": "Empty Scopus Metrics"
    },
    {
      "parameters": {
        "content": "",
        "height": 544,
        "width": 1088,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        864
      ],
      "typeVersion": 1,
      "id": "10720f8d-30f6-4690-90fd-68639a40a11c",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        1872
      ],
      "id": "0efce21c-72a7-475c-80b8-69abdb85f5fc",
      "name": "Loop Authors Semantic"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ac2deb4f-afb6-471d-b6a6-9e2aae52b6e6",
              "leftValue": "={{ $json.AUTHOR_ID }}",
              "rightValue": "NO_ID",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        1888
      ],
      "id": "0b2aa2db-0d0e-4b6c-b336-15bb67460954",
      "name": "If Valid Semantic ID"
    },
    {
      "parameters": {
        "url": "=https://api.semanticscholar.org/graph/v1/author/{{ $json.AUTHOR_ID }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "hIndex,citationCount,paperCount,papers.year,affiliations,externalIds"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Init Semantic').first().json.API }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1264,
        1872
      ],
      "id": "76821053-3ea3-4536-82b5-4fb28a4dbf0e",
      "name": "Semantic Author API",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const originalData = $('Loop Authors Semantic').item.json;\nconst profile = items[0].json;\n\nlet hindex = profile.hIndex || 0;\nlet total_citations = profile.citationCount || 0;\nlet consecutive_years = 0;\nlet seniority = \"Unknown\";\n\n// --- 1. LÓGICA PARA AFILIACIÓN (Corregida) ---\nlet currentAffiliation = originalData.AFFILIATION_PAPER || \"No affiliation\";\n\n// Si el paper no traía afiliación útil, buscamos agresivamente en el perfil\nif (currentAffiliation === \"No affiliation\" || currentAffiliation === \"No data\" || currentAffiliation === \"\") {\n    if (profile.affiliations && Array.isArray(profile.affiliations) && profile.affiliations.length > 0) {\n        // Extraemos strings limpias, ignorando valores vacíos o nulos\n        const validAffils = profile.affiliations\n            .map(a => typeof a === 'object' ? (a.name || a.affiliation || JSON.stringify(a)) : a)\n            .filter(a => a && a.trim() !== \"\");\n            \n        if (validAffils.length > 0) {\n             currentAffiliation = validAffils.join(\" | \");\n        }\n    }\n}\n\n// Determinamos si necesitamos el LLM para el país basados en la nueva afiliación\nlet countryRaw = \"UNKNOWN\";\n// Solo marcamos \"Need LLM extraction\" si REALMENTE tenemos texto para analizar\nif (currentAffiliation && currentAffiliation !== \"No affiliation\" && currentAffiliation !== \"No data\" && currentAffiliation !== \"\") {\n    countryRaw = \"Need LLM extraction\"; \n}\n\n// --- 2. LÓGICA PARA ORCID (Búsqueda Agresiva) ---\nlet orcidId = \"NO_ORCID\";\n// Semantic Scholar a veces esconde el ORCID en externalIds (y a veces con mayúsculas/minúsculas diferentes)\nif (profile.externalIds) {\n    if (profile.externalIds.ORCID) {\n        orcidId = profile.externalIds.ORCID.replace(\"http://orcid.org/\", \"\").replace(\"https://orcid.org/\", \"\");\n    } else if (profile.externalIds.orcid) {\n        orcidId = profile.externalIds.orcid.replace(\"http://orcid.org/\", \"\").replace(\"https://orcid.org/\", \"\");\n    }\n}\n\n// --- 3. CÁLCULO DE SENIORITY ---\nif (profile.papers && profile.papers.length > 0) {\n    let years = profile.papers.map(p => parseInt(p.year)).filter(y => !isNaN(y));\n    \n    if (years.length > 0) {\n        let uniqueYears = [...new Set(years)].sort((a,b) => b - a);\n        \n        consecutive_years = 1;\n        let current = uniqueYears[0];\n        for (let i = 1; i < uniqueYears.length; i++) {\n            if (uniqueYears[i] === current - 1) {\n                consecutive_years++;\n                current = uniqueYears[i];\n            } else break; \n        }\n        \n        let firstYear = Math.min(...uniqueYears);\n        let careerLength = new Date().getFullYear() - firstYear; \n        if (careerLength > 15) seniority = \"Senior\";\n        else if (careerLength >= 5) seniority = \"Mid\";\n        else seniority = \"Early\";\n    }\n}\n\nreturn {\n    json: {\n        PAPER_TITLE: originalData.PAPER_TITLE,\n        DOI: originalData.DOI,\n        YEAR: originalData.YEAR,\n        AUTHOR_NAME: originalData.AUTHOR_NAME,\n        AUTHOR_POSITION: originalData.AUTHOR_POSITION,\n        AUTHOR_ID: originalData.AUTHOR_ID,\n        ORCID: orcidId,\n        AFFILIATION: currentAffiliation,\n        GEOLOCATION_COUNTRY: countryRaw, \n        SOURCE_DB: \"SemanticScholar\",\n        search_term: originalData.search_term,\n        page_num: originalData.page_num,\n        start_index: originalData.start_index,\n        scholar_id: \"N/A (Semantic)\",\n        hindex: hindex,\n        i10index: \"N/A (Semantic)\", \n        total_citations: total_citations,\n        consecutive_years: consecutive_years,\n        seniority: seniority,\n        keywords: \"N/A\"\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        1872
      ],
      "id": "21786f58-1697-42f6-af73-f56cc74a24a2",
      "name": "Semantic Author API1"
    },
    {
      "parameters": {
        "jsCode": "const originalData = $('Loop Authors Semantic').item.json;\nreturn {\n    json: {\n        ...originalData,\n        ORCID: \"N/A (Semantic)\",\n        AFFILIATION: originalData.AFFILIATION_PAPER,\n        GEOLOCATION_COUNTRY: \"UNKNOWN\",\n        scholar_id: \"N/A (Semantic)\",\n        hindex: 0, i10index: \"N/A (Semantic)\", total_citations: 0,\n        consecutive_years: 0, seniority: \"Unknown\", keywords: \"N/A\"\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        2032
      ],
      "id": "667c11cc-d435-4974-ae4a-30888cd353c4",
      "name": "Empty Semantic Metrics"
    },
    {
      "parameters": {
        "content": "",
        "height": 528,
        "width": 1072,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        1632
      ],
      "typeVersion": 1,
      "id": "ef03fec7-ac42-40ce-983d-ac435815df0a",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1040,
        1872
      ],
      "id": "3e3689cd-77cf-42f2-93de-786d87d7cab4",
      "name": "After time interval",
      "webhookId": "49ff44dc-e6b9-462b-aaf7-9cf4248313ea"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Scopus Results": {
      "main": [
        [
          {
            "node": "Norm: Scopus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scopus API1": {
      "main": [
        [
          {
            "node": "If Scopus Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Scopus1": {
      "main": [
        [
          {
            "node": "Loop++ Scopus1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop++ Scopus1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait PM1": {
      "main": [
        [
          {
            "node": "PubMed Search IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait SC1": {
      "main": [
        [
          {
            "node": "Scopus API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Queries": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Init Open Alex",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Init PubMed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Init Scopus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Init Semantic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Init Google Sholar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Open Alex": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Semantic API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Save Semantic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Semantic": {
      "main": [
        [
          {
            "node": "Semantic API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Semantic API": {
      "main": [
        [
          {
            "node": "Check Semantic Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Semantic Results": {
      "main": [
        [
          {
            "node": "Norm: Semantic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Norm: Semantic": {
      "main": [
        [
          {
            "node": "Loop Authors Semantic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Semantic": {
      "main": [
        [
          {
            "node": "Loop++ Semantic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop++ Semantic": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Norm: Scopus": {
      "main": [
        [
          {
            "node": "Loop Authors Scopus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Scopus": {
      "main": [
        [
          {
            "node": "Scopus API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV Scopus": {
      "main": [
        [
          {
            "node": "Save Scopus1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PubMed Search IDs": {
      "main": [
        [
          {
            "node": "Got IDs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Got IDs?": {
      "main": [
        [
          {
            "node": "PubMed Fetch XML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PubMed Fetch XML": {
      "main": [
        [
          {
            "node": "Parse XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse XML": {
      "main": [
        [
          {
            "node": "Split PubMed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split PubMed": {
      "main": [
        [
          {
            "node": "Norm: PubMed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Norm: PubMed": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV PubMed": {
      "main": [
        [
          {
            "node": "Save PubMed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save PubMed": {
      "main": [
        [
          {
            "node": "Loop++ PubMed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop++ PubMed": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init PubMed": {
      "main": [
        [
          {
            "node": "PubMed Search IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Norm_Open_Alex": {
      "main": [
        [
          {
            "node": "Loop Authors OpenAlex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Norm_Open_Alex",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Wait PM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "CSV PubMed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait PM": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request (Scholar API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Save Scholar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Google Sholar": {
      "main": [
        [
          {
            "node": "HTTP Request (Scholar API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Scholar API)": {
      "main": [
        [
          {
            "node": "Check Scholar Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Norm: Scholar": {
      "main": [
        [
          {
            "node": "Loop Authors Scholar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Scholar Results": {
      "main": [
        [
          {
            "node": "Norm: Scholar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Scholar": {
      "main": [
        [
          {
            "node": "Loop++ Scholar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Authors Scholar": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Loop Authors Scholar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop++ Scholar": {
      "main": [
        [
          {
            "node": "Check Total Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Total Batches": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Wait SC1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Wait PM1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Authors OpenAlex": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Empty OpenAlex Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge OpenAlex Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge OpenAlex Metrics": {
      "main": [
        [
          {
            "node": "Loop Authors OpenAlex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empty OpenAlex Metrics": {
      "main": [
        [
          {
            "node": "Loop Authors OpenAlex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Authors Scopus": {
      "main": [
        [
          {
            "node": "CSV Scopus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Valid Scopus ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid Scopus ID": {
      "main": [
        [
          {
            "node": "Scopus Author API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Empty Scopus Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scopus Author API": {
      "main": [
        [
          {
            "node": "Merge Scopus Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empty Scopus Metrics": {
      "main": [
        [
          {
            "node": "Loop Authors Scopus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Scopus Metrics": {
      "main": [
        [
          {
            "node": "Loop Authors Scopus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Authors Semantic": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Valid Semantic ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid Semantic ID": {
      "main": [
        [
          {
            "node": "After time interval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Empty Semantic Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Semantic Author API": {
      "main": [
        [
          {
            "node": "Semantic Author API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Semantic Author API1": {
      "main": [
        [
          {
            "node": "Loop Authors Semantic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empty Semantic Metrics": {
      "main": [
        [
          {
            "node": "Loop Authors Semantic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "After time interval": {
      "main": [
        [
          {
            "node": "Semantic Author API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c9e84b14-9490-4d0b-a1d1-e36b54953a6a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e93f54a9316b1166cc3d1461b648e420a200f1f68856d5faadede4c2c564e6af"
  },
  "id": "LYyQYuHVEAPgruT1Ss2iG",
  "tags": []
}